body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1c042e;
    color: #e9ddff;
}

.main {
    width: 90vw;
    margin: 10px auto;
    box-sizing: border-box;
    border-top: #282828 solid 1px;
}

h1, h2 {
    color: #6750A4;
}

h2 {
    font-size: 20px;
}

a {
    color: #cfbcff;
    font-weight: bold;
}

p img {
    float: inline-end;
    max-width: 35%;
}

.buttons img {
    width: 88px;
    height: 31px;
}

.gallery img {
    width: auto;
    height: 250px;
}

hr {
    border: #6750A4 1px solid;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f8f8fc;
        color: #000;
    }

    .main {
        border-top: #5c327c solid 1px;
    }

    a {
        color: #5c327c;
    }
}
