body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1c042e;
    color: #e9ddff;
}

.main {
    width: 90vw;
    margin: 10px auto;
    box-sizing: border-box;
    border-top: #282828 solid 1px;
}

h1, h2 {
    color: #6750A4;
}

h2 {
    font-size: 20px;
}

a {
    color: #cfbcff;
    font-weight: bold;
}

p img {
    width: 20%;
    height: auto;
}

em img {
    float: inline-end;
}

strong img {
    width: initial;
}
