---
import Base from "../layouts/Base.astro";
---

<Base title="About" current="about">
	<h2>About me</h2>
	<p>I'm Kierownik223, the CEO and founder of <a href="https://marmak.net.pl">MARMAK</a>, among other things. I live in Poland, and I speak English, Polish, and a bit of German and Russian.  <br>
		I'm fascinated with all things electronics, tho mainly enterprise/embedded stuff, programming and phones.</p>
	<h3>Other interests:</h3>
	<ul>
		<li>Linux server administration</li>
		<li>Photography</li>
		<li>Video editing</li>
		<li><a href="https://en.wikipedia.org/wiki/Numismatics">Numismatics</a></li>
		<li>Science and maths</li>
		<li>Travelling</li>
	</ul>
	<h3>Programming skills:</h3>
	<ul>
		<li>Android (Kotlin)</li>
		<li>HTML, CSS, JS</li>
		<li>Rust</li>
		<li>TypeScript</li>
		<li>PHP</li>
		<li>C#</li>
		<ul>
			<li>Windows Universal</li>
			<li>Windows Phone Silverlight</li>
			<li>Windows Mobile 5</li>
		</ul>
	</ul>
</Base>