---
import Base from "../layouts/Base.astro";
---

<Base title="Contact" current="contact">
	<h2>Contact me</h2>
	<p>E-mail: me [at] kier.ovh</p>
	<p>E-mail (MARMAK): marcel [at] marmak.net.pl</p>
	<p>Discord: prezes_zarzadu</p>
	<p>Telegram: <a href="https://t.me/kierownik223">kierownik223</a></p>
	<h3>Other socials</h3>
	<ul>
		<li>GitHub: <a href="https://github.com/Kierownik223">Kierownik223</a></li>
		<li>Bluesky: <a href="https://bsky.app/profile/kier.ovh">kier.ovh</a></li>
	</ul>
</Base>