---
import Base from "../layouts/Base.astro";
---

<Base title="Facts" current="facts">
	<h2>Facts about me</h2>
	<ul>
		<li>My real name is Marcel</li>
		<li>I own around 30 phones and 3 PCs</li>
		<ul>
			<li>Main phone: Nokia Lumia 1020 64GB</li>
			<li>Main Android phone: Microsoft Surface Duo 256GB</li>
			<li>Secondary phone: Xiaomi Redmi Note 8 4/64GB</li>
		</ul>
		<li>I (almost) won the Provincial Science Competition in 2025</li>
		<li>I chose Kierownik223 because "Kierownik123" was already taken</li>
		<li>I love <a href="https://dl.marmak.net.pl/music/Crystal%20Castles/">Crystal Castles</a> to death</li>
		<li>I'm a Linux user, yet my main phone is a Nokia Lumia 1020</li>
		<li>I paid less for this domain than for <a href="https://marmak.net.pl">marmak.net.pl</a></li>
		<li>I didn't originally make the <a href="https://marmak.net.pl">MARMAK</a> website</li>
		<li>I used to own marmak.cf, jnwz.cf and blinkenlights.cf</li>
		<li>If it wasn't for <a href="https://github.com/Olek47">Olek47</a>, I would have quit Linux server administration a long time ago</li>
		<li>I originally made the <a href="https://dl.marmak.net.pl">Mirror</a> just to host PocketPC software</li>
		<li>If it wasn't for me, <a href="https://store.live.net.co">Live Store Silver</a> wouldn't exist</li>
		<li>I hate Windows 11 with a passion</li>
		<li>I hate modern consumer tech</li>
		<li>I would never buy anything that Lenovo touched</li>
		<li>The first programs I published were just followed, rebranded YouTube tutorials</li>
		<li>I started programming when I was 9 years old</li>
		<li>Most of <a href="/equipment/">the stuff I use</a> is chosen because I'm used to it or I like it</li>
	</ul>
</Base>