---
import Base from "../layouts/Base.astro";
---

<Base title="Home" current="home">
	<h2>Hi!</h2>
	<p>I'm Kierownik223, also known as prezes_zarzadu. Check out <a href="/about">About me</a> for more info, and <a href="/equipment">My equipment</a> for the stuff I use.</p>
</Base>