---
const year = new Date().getFullYear()
---

<footer>
    Kierownik223 - {year}. <a href="https://git.marmak.net.pl/Kierownik223/website">All sources</a> GPLv3. Photos under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-SA 4.0</a>
</footer>

<style>
    footer {
        font-family: 'Courier New', Courier, monospace;
        margin: 0 auto;
        padding: 15px;
        text-align: center;
        color: #797185;
        margin-bottom: 10px;
    }
</style>
